@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

.digitalClock {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25vmin;
    font-weight: bolder;
    font-family: 'Aldrich', sans-serif;
    background-color: rgb(130, 127, 127);
    color: #39FF14;
}

.digitalClock.AM {
    background-color: skyblue;
    color: rgb(206, 176, 5);
}

.digitalClock.PM {
    background-color: rgb(130, 127, 127);
    color: #39FF14;
}

@media (max-width: 500) {

}
